a#logo(href='/')
  h1= title
    img(src='images/designo32.png')
p(style='color: #AEAEAE;margin-top: 2px;margin-bottom: 20px;') The Lightweight Social Client
#account 
  a(href= loginto)= loginm
#main
  #sidebar
    div#all(class='sidebar', style='background: #ddd')
      a(onclick='select("all");return false;', href='#') (
        span.badge 0
        ) All
  #right
    form#form(enctype="multipart/form-data", onsubmit='send(); return false;')
      table(width="100%", border="0", cellpadding="0", cellspacing="0")
        tbody
          tr
            td(align="left", width="64px")
              input#name(type='text', value= screen_name, disabled)
            td(align="left", width="100%")
              input#text(type='text', autocomplete='off', autofocus='autofocus')
            td(align="left")
              input(type='submit', value='send')
    #chat
