!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.min.js')
    script(type='text/javascript', src='/javascripts/client.js')
  body!= body
